@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$primary: #f9fad3;
$secondary: #e4e2bc;
$tertiary: #c7c5a6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: $primary;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  & > * + * {
    margin-top: 2em;
  }
}

.brand-title {
  font-size: 2.6rem;
  font-weight: 600;
  background-color: $tertiary;
  color: #4b450f;
}

.product-wrapper {
  & > * + * {
    margin-top: 1em;
  }
}

.product-image {
  background-color: $secondary;
}

.product-image img {
  width: 300px;
  height: 300px;
  padding: 1em;
}

.product-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1em;
  & > * + * {
    margin-top: 1em;
  }
}

.product-text section {
  & > * + * {
    margin-top: 0.3em;
  }
  h2 {
    font-weight: 500;
    color: #4b450f;
  }
  p {
    color: #6d6d62;
  }
}

.product-text .rating-text {
  color: black;
  font-weight: 550;
}

.slider-description {
  color: #423e3e;
  font-weight: 400;
}

.slider-wrapper {
  background-color: $tertiary;
  padding: 0.8em;
  margin-bottom: 0;
  flex: 1;

  & > * + * {
    margin-top: 1em;
  }
}

.slider-description {
  font-size: 1.4rem;
  padding: 0 1em;
}

.slider {
  & input[type='range'] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: transparent; /* Otherwise white in Chrome */
    background-color: #4b450f;
    padding: 0.3em 0;
    border-radius: 16px;
  }
  & input[type=range]::-webkit-slider-thumb {
  height: 21px;
  width: 21px;
  background: #C7C5A5;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 16px;
}
}
